<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="https://hermes981128.oss-cn-shanghai.aliyuncs.com/meetrainbow.ico">
    <link rel="stylesheet" href="/templates/css/basis.css">

    <style>
        body {
            background-image: url('https://hermes981128.oss-cn-shanghai.aliyuncs.com/leimu.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body >

    <h1 style="text-align: center">个人小站</h1>
</body>
</html>