<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>登陆页面</title> 

    <link rel="icon" type="image/x-icon" href="https://hermes981128.oss-cn-shanghai.aliyuncs.com/meetrainbow.ico"/>
    <style>
        body {
            background-image: url('https://hermes981128.oss-cn-shanghai.aliyuncs.com/leimu.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        input {
            background-color: #F6F6F6;
        }
    </style>
</head>
<body>
<form name="health_journal" action="check" method="POST">
    <fieldset>
        <legend style='text-align:center'> 健康日报每日自动填写</legend>
        <p style='text-align:center'>
            学号: <input type="text" name="student_id" size="30"><br>
            密码: <input type="password" name="password" size="30"><br>
            邮箱: <input type="text" name="email" size="30"><br>

            <input type="submit" value="提交">
        </p>
    </fieldset>
</form>


<h1>tip:</h1>
<p>后续可能会添加每日健康日报填写完成后发送邮件通知的功能（可能会添加≈先拖着再说）所以可写可不写</p>
<p>信息门户密码不能过于简单，若过于简单会导致网页无法正常登陆，请前往微信 微门户修改密码后再次提交</p>
<p>体温默认37.0℃</p>
<p>错误信息不会储存，不小心填错了的话退回页面再提交一次就好。</p>
<p><a href="http://meetrainbow.online/health_journal/remove_account">移除用户信息</a></p>
<p>有任何问题请联系QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=1993702790&site=qq&menu=yes">1993702790</a></p>

</body>
</html>