<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>黑暗料理王</title> 

    <link rel="icon" type="image/x-icon" href="https://hermes981128.oss-cn-shanghai.aliyuncs.com/meetrainbow.ico"/>
    <style>
        body {
            background-image: url('https://hermes981128.oss-cn-shanghai.aliyuncs.com/leimu.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        input {
            background-color: #F6F6F6;
        }
    </style>
</head>
<body>
<form name="health_journal" action="start" method="POST">
    <fieldset>
        <legend style='text-align:center'> 黑暗料理王自动赠送酱油</legend>
        <p style='text-align:center'>
            存档号: <input type="text" name="archive" size="30"><br>

            <input type="submit" style="top: 10px" value="提交">
        </p>
    </fieldset>
</form>

<h1>tip:</h1>
<p>提交后正常一分钟酱油开始到账</p>
<p>赠送500酱油，实际应该能到四百多点</p>
<p>酱油到了就要领取，邮箱最多存100</p>
<p>提交一次就可以，多次提交酱油数量也不会增加，能收到赠送酱油的消息，但是你领取以后酱油还是不会增加</p>
<p>有任何问题请联系QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=1993702790&site=qq&menu=yes">1993702790</a></p>

</body>
</html>