<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>提示</title>
    <link rel="icon" type="image/x-icon" href="https://hermes981128.oss-cn-shanghai.aliyuncs.com/meetrainbow.ico"/>
    <style>
        body {
            background-image: url('https://hermes981128.oss-cn-shanghai.aliyuncs.com/leimu.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<p style='text-align:center'>{{ message }}</p>
</body>
</html>