<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>移除账号信息</title> 
    <link rel="icon" type="image/x-icon" href="https://hermes981128.oss-cn-shanghai.aliyuncs.com/meetrainbow.ico"/>
    <style>
        body {
            background-image: url('https://hermes981128.oss-cn-shanghai.aliyuncs.com/leimu.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        input {
            background-color: #F6F6F6;
        }
    </style>
</head>
<body>

<form name="health_journal" action="check_remove_account" method="POST">
    <fieldset>
        <legend style='text-align:center'> 移除账号信息</legend>
        <p style='text-align:center'>
            学号: <input type="text" name="student_id" size="30"><br>
            密码: <input type="password" name="password" size="30"><br>
            <input type="submit" value="提交">
        </p>
    </fieldset>
</form>
<h1>tip:</h1>
<p>有任何问题请联系QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=1993702790&site=qq&menu=yes">1993702790</a></p>

</body>
</html>